*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.column {
  height: 100vh;
}

.column:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.04);
}

.column:nth-child(2) {
  padding: 5rem;
}

.poster-details {
  padding: 5rem;
  margin: auto;
  text-align: center;
}

.poster-details__title {
  margin-bottom: 0.85rem;
  margin-top: 0;
}

.poster-details__label {
  display: block;
  margin-bottom: 1.5rem;
}

.poster-subtitle {
  color: rgb(14, 153, 181);
  font-size: 0.85rem;
  margin: 0 0 0.5rem;
}

.poster-title {
  margin: 0;
}

input {
  border: 0;
  border-bottom: 4px solid #2a2a2a;
  background: transparent;
  height: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

input:focus {
  outline: 0;
}

button {
  background-color: #2a2a2a;
  border-radius: 4px;
  color: #fff;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1rem;
}